/* src/index.css */
body {
  font-family: Arial, sans-serif;
}

.vaga-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.vaga-list {
  display: flex;
  flex-wrap: wrap;
}

form {
  margin-top: 20px;
}
